#start-page-logo {
    width: 100%; /* Makes the image responsive to its container's width */
    height: auto; /* Maintains the aspect ratio */
    max-width: 800px; /* Sets a maximum width */
    margin-top: 155px;
    margin-bottom: 20px;
}