.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px; /* Adjust the width as needed */
    margin: 30px auto;
    padding: 10px 0px 0px 0px;
}

.progress-step {
    width: 120px;
    height: 13px;
    background-color: #d3d3d3; /* Light grey color for inactive steps */
    border-radius: 15px;
}

.progress-step.active {
    background-color: #FFD700; /* Yellow color for active step */
}